fastapi>=0.100.0
uvicorn>=0.23.0
sqlalchemy>=1.4.0
python-multipart>=0.0.8
bcrypt>=4.0.0
python-dotenv>=0.19.2
jinja2>=3.0.0
passlib[bcrypt]>=2.0.0
python-jose>=3.2.0
httpx>=0.23.0
sqlalchemy-utils>=0.37.0
sqlitedb>=0.3.12